.team-member-preview{
    background-size: contain;
    width: 250px;

    background-image: url("./static/puzzle-piece.png");
    margin-left: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
}

.team-member-preview__info-row {
    display: flex;
    flex-direction: column;
    width: 100px;
    border-style: hidden;
    text-align: center;
    padding-left: 75px;
    padding-top: 70px;
    padding-right:80px;
    background-color: white;
    opacity: 0.9;
}

.team_member__photo {
    height: 100px;
}

.name_cell, .name_cell a {
    padding-top: 40px;
    font-size: 1em;
    font-weight: bold;

}

.university_cell{
    padding-top: 5px;
    font-size: 1em;
}
