.search_form_title {
    color: #283b63;
    font-size: 2.2em;
}


.search_team_view {
    text-align: center;
}



#wrapper{
    display: flex;
}

.team-preview td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5px;
    font-size: 1.1em;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    padding-left: 20px;
    padding-right: 100px;
    width: 400px;
    border-left: 2px solid #283b63;
    border-right: 2px solid #283b63;
}

.team-preview__bg-image {
    background-size: cover;
    width: 50%;
    height: 300px;
    background-image: url("./static/puzzle.png");
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
}

.university_cell{
    color: #F76073 !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
    background-color: white;
    fill-opacity: 0.8;
    border-top: 2px solid #283b63;
    border-bottom-style: hidden !important;
}

.course_cell{
    color: #283b63 !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    background-color: white;
    fill-opacity: 0.8;
    border-bottom-style: hidden !important;
}

.description_cell{
    margin-bottom: 70px !important;
    padding-bottom: 50px !important;
    background-color: white;
    fill-opacity: 0.8;
    border-bottom: 2px solid #283b63 !important;
}


.button__bg-image{
    background-size: contain;
    height: 200px;
    width: 200px;

    background-image: url("./static/puzzle-piece-2.png");
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}


.button__bg-image__member{
    background-size: contain;
    height: 200px;
    width: 200px;

    background-image: url("./static/green-puzzle-piece.png");
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}


.button-preview td {
    border-bottom-style: hidden !important;
    padding: 70px 55px 80px 55px;
    background-color: white;
    opacity: 0.9;
}

.join__link{
    text-decoration: none !important;

}



.join__button{
    width: 90px !important;
    font-size: 1.7em !important;

}

.search-form {
    padding-top: 20px;
}

.search-checkbox{
    padding-bottom: 50px;
    padding-left: 600px;
    font-weight: bold;
}

.search-form__submit-button {
    height: 40px;
}

.new_team__input{
    width: 200px;
}

.new_team_button{
    margin-left: 50px !important;
    margin-right: 50px !important;
}
