.calendar
{
    text-align: center;
}

.calendar__container
{
    display: inline-block;
}

.calendar table
{
    display: inline-block;
}

.calendar tbody
{
    display: block;
}

.calendar__header
{
    display: block;
}

.calendar__title
{
    display: block;
    min-width: 98%;
    background-color: #958798;
    color: #fff;
    max-height: 20px;
}

.calendar__header th
{
    display: inline-block;
    background-color: #958798;
    color: #fff;
    max-height: 20px;
    min-width: 14%;
    padding: auto;
    margin: auto;
}

.calendar__week
{
    min-height: 100px;
    display: block;
}

.calendar__week td
{
    min-width: 100px;
    min-height: 100px;
    display: inline-block;
}

.calendar__day_today
{
    background-color: #f76073;
    color: #fff;
}

.calendar__day_display
{
    background-color: #283b63;
    color: #fff;
}

.calendar__day_inactive
{
    color: gray;
}

.calendar__button
{
    margin: auto;
    display: inline-block;
}

.calendar__schedule
{
    max-width: 100px;
    font-size: 0.8em;
    background-color: #958798;
    color: #fff;
}

.calendar__schedule_new
{
    opacity: 50%;
}

.calendar__add_event_container
{
    text-align: center;
    display: block;
}

.calendar__add_event_line
{
    display: block;
    text-align: center;
}

.calendar__add_event
{
    display: inline-block;
    margin: 10px;
}

.calendar__add_event_input
{
    display: inline-block;
    text-align: center;
    width: max-content;
}
