.admin_dashboard__title {
    color: #f76073;
    text-align: center;
    font-size: 30px;
}

.headers {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	margin-left: 10px;
	width: 700px;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}

.headers tr td {
	text-align: center;
	color: gray;
}

.headers1 {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	margin-left: 10px;
	width: 700px;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}

.headers1 tr td {
	text-align: center;
	color: gray;
}

.welcome_back {
	text-align: center;
	color: #283b63;
}
