.login__content {
    max-width: 600px;
    padding: 30px 30px;
    text-align: center;
    margin: 0 auto;
}

.login__input {
    border: 3px solid #f5f1ed;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    outline: none;
}

.login__input:focus {
    border: 3px solid #fde8d4;
}

.login__label {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login__button {
    border-radius: 4px;
    color: #f1574b;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    padding: 13px 15px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
}

.signup__link {
    text-decoration: none;
}
