.search_form_title {
    color: #283b63;
    font-size: 2.2em;
}

.headers {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    margin-left: 10px;
    width: 700px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.headers tr td {
    text-align: center;
    color: gray;
}

.team_application_invitation_view {
    text-align: center;
}

.team_application_view {
    margin: auto;
    width: 50%;
}

.team_invitation_view {
    margin: auto;
    width: 50%;
    padding-bottom: 40px;
}

.application-preview__table td {
    border-bottom-style: hidden !important;
    border-top-style: hidden !important;
}

.application__name_cell {
    color: #f76073 !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
    width: 300px;
}

.application__link {
    text-decoration: none !important;
    color: #283b63;
}

.application_question {
    color: #f76073 !important;
    font-weight: bold;
}

.application_answer {
}

.application {
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: start;
}

.no-applications-note {
    padding-top: 100px;
}
