.header
{
    text-align: left;
    display: block;
    max-height: 2.5em;
}

.header__container
{
    display: inline-block;
}

.header__clear
{
    display: inline-block;
    width: 100%;
    float: none;
}

.header__title
{
    color: #283b63;
    width: max-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    display: inline-block;
}

.header__title_inline
{
}

span.header__title
{
    font-size: 1.5em;
}

h1.header__title
{
    font-size: 2em;
}

.header__data
{
    padding-left:10px;
    color: #f76073;
    font-weight: bold;
}

.header__data a,
.header__data a:hover,
.header__data a:visited
{
    color: #f76073;
}

.header__right
{
    float: right;
    display: block;
    text-align: right;
    top: 0;
}
