.search-form {
    padding-top: 20px;
    padding-bottom: 50px;


}

.search-form__submit-button {
    height: 40px;
}

button.MuiButton-outlinedPrimary {
    border-radius: 80px;
    color: cadetblue;
    border: 2px solid cadetblue;
}

button.MuiButton-outlinedPrimary:hover {
    color: cadetblue;
    border: 2px solid cadetblue;
}
