.application__left_div {
    float: left;
    width: 90%;
    text-align: center;
}

.application__right_div {
    float: left;
    width: 10%;
}

.application-table {
    margin-left: 415px;
}

.app_inv__button {
    border-radius: 4px;
    color: #f1574b;
    line-height: 1;
    background-color: #f1f1f1;
    padding: 13px 15px;
    text-align: center;
    outline: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.accept-button {
    border-radius: 4px;
    cursor: pointer;
    padding: 13px 15px;
    line-height: 1;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin: 14px 12px;
    background-color: #f76073;
    color: white;
    border-radius: 10%;
}

.accept-button:hover {
    background-color: #f43f54;
}

.reject-button {
    border-radius: 4px;
    cursor: pointer;
    padding: 13px 15px;
    line-height: 1;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin: 14px 12px;
    background-color: #958798;
    color: white;
    border-radius: 10%;
}

.reject-button:hover {
    background-color: #bba8bf;
}

.student_application_div {
    line-height: 4;
}
