/*new version*/

#wrapper2{
    display: flex;
    width: 500px;
    height: 100px;
}

.administrator-preview2 td {
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    height: 5px;
    font-size: 1.1em;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    padding-left: 20px;
    padding-right: 10px;
    width: 400px;
/*    border-left: 2px solid #283b63;
    border-right: 2px solid #283b63;*/
}

.administrator-preview__bg-image2 {
    background-size: cover;
    width: 50%;
    height: 300px;
    /*background-image: url("./static/puzzle.png");*/
    margin-left: 0px /*!important*/;
    margin-right: 50px /*!important*/;
    margin-bottom: 0px /*!important*/;
    padding-top: 20px /*!important*/;
    padding-left: 0px /*!important*/;
}

.name_cell2{
    color: #F76073 !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
    background-color: white;
    fill-opacity: 0.8;
    /*border-top: 2px solid #283b63;*/
    border-bottom-style: hidden !important;
}

.email_cell2{
    color: #F76073 !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
    background-color: white;
    fill-opacity: 0.8;
    /*border-top: 2px solid #283b63;*/
    border-bottom-style: hidden !important;
}



