.image-form {
  text-align: center;
}

.image-form__field {
  display: inline-block;
  padding-left: 200px;
}

.img_upload_button {
    border-radius: 50px;
    color: #f1574b;
    cursor: pointer;
    line-height: 1;
    padding: 5px 5px;
}
