.box1 {
    float: left;
    width: 90%;
    text-align: center;
}

.box2 {
    float: left;
    width: 10%;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}

.application-table {
    margin-left: 415px;
}

button {
    /* border: none; */
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.accept-button {
    background-color: #f76073;
    color: white;
    border-radius: 10%;
}

.accept-button:hover {
    background-color: #fde8d4;
    color: #283b63;

}

.reject-button {
    background-color: #958798;
    color: white;
    border-radius: 10%;
}

.reject-button:hover {
    background-color: #283b63;
    color: white;
}